@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body{
  transform;
} */
/* body {
  background-color: #b8b8b8;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

#haha {
  background-color: rgb(21, 255, 0);
  border-radius: 100;
  width: 400;
  padding: 50;
} */
